.mindmaprContainer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

.centerItem {
    z-index: 2;
    display: flex;
    align-items: center;
}

.centerItem:focus {
    outline: none;
}

.rightContainer{
    margin-left: 15px;
}

.leftContainer{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}