.mindmaprContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: 'relative';
}

.centerItem {
    position: relative;
    z-index: 2;
}

.rightContainer{
    margin-left: 15px;
}

.leftContainer{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}