.mindmapContainer {
  width: 1280px;
  height: 720px;
  background-color: lightblue;
}
.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mindmaprItem {
  background-color: white;
  border-radius: 4px;
  padding: 15px;
}