.centerMindmaprItem{
    position: relative;
    transition: 0.2s;
    background-color:rgb(0, 157, 209);
    color: white;
    border-radius: 12px;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
  }
  
  .firstLevelMindmaprItem{
    position: relative;
    min-width: 200px;
    transition: 0.2s;
    background-color: rgb(70, 190, 230);
    border-radius: 12px;
    padding: 15px;
  }
  
  .secondLevelMindmaprItem{
    position: relative;
    transition: 0.2s;
    min-width: 200px;
    background-color: rgb(126, 214, 243);
    border-radius: 12px;
    padding: 8px;
  }
  
  .thirdLevelMindmaprItem{
    position: relative;
    transition: 0.2s;
    min-width: 200px;
    padding: 4px;
    background-color: rgb(181, 224, 238);
    border-radius: 12px;
  }
  
  .selected{
    background-color: orange;
    color: #fff;
  }

  .hiddenText{
    visibility: hidden;
  }

  .overlayInput{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 4px;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-align: center;
  }